//includes styles for every inner block in education
@import "__education__education-progress-bar/education__education-progress-bar.scss" ;
//includes modifier for section name. Folder with element is in "./main/__section-name" and it contain basic styles
@import '_education_modifiers/_education__section-name/education__section-name.scss';

.education{
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(140,140,140,1);
}
