
.homeCNT {
  background-image: url("./images/mainBackground3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  weight: 100vw;
 }
 .leftSection{
   display: flex;
   justify-content: flex-end;
   width: 25vw;
   border: 1px solid white;

   .navCNT{
     background-color: rgba(240, 10, 10, 0.8);
     width: 8vw;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     .menu-logo{
    //    background-color: rgba(10, 10, 10, 0.6);
    //    color: white;
    //    border-radius: 50%;
    //    height: 15vw;
      //  width: 15vw;
    //    display: flex;
    //    align-items: center;
    //    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
     }
   }
 }
 .rightSection{
   width: 100%;
   border: 1px solid blue;
   display: flex;
   align-items: center;
   justify-content: center;
   .mainInfoText{
     border: 1px solid orange;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 60%;
     width: 70%;
     color: white;
     background-color: rgba(10, 10, 10, 0.4);
   }
 }
