
.homeCNT {
  background-image: url("./images/mainBackground3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  weight: 100vw;
 }
 .navCNT{
   background-color: red;

 }
