@import "../../../../modules/mediaQueryMixins";

@mixin movingMagnifyingGlass {
  @keyframes movingMagnifyingGlass{
    0%{
      top:8vh;
      left:18vw;
      background-position: right;
    }
    20%{
      background-size: 0px 0px;
    }
    21%{
      top:0vh;
      left:-14vw;
      background-position: right;
      background-size: 27px 27px;

    }
    45%{
      background-position: center;
      border:23px solid white;
      background-size: 27px 27px;
      top:0vh;
      left:0vw;
      height:220px;
      width:220px;
    }
    73%{
      border:16px solid white;
      background-size: 220px 220px;
      top:4vh;
      left:0vw;
      height:130px;
      width:130px;
    }
    100%{
      border:20px solid white;
      background-size: 180px 180px;
      top:0vh;
      left:0vw;
      height:210px;
      width:210px;

    }
  }
}


@mixin movingMagnifyingGlassTablet {
  @include tablet{
    @keyframes movingMagnifyingGlass{
      0%{
        border:25px solid white;
        height:265px;
        width:265px;
        top:8vh;
        left:18vw;
        background-position: right;
      }
      20%{
        background-size: 0px 0px;
      }
      21%{
        top:0vh;
        left:-14vw;
        background-position: right;
        background-size: 27px 27px;

      }
      45%{
        background-position: center;
        border:25px solid white;
        background-size: 27px 27px;
        top:0vh;
        left:0vw;
        height:265px;
        width:265px;
      }
      73%{
        border:17px solid white;
        background-size: 220px 220px;
        top:4vh;
        left:0vw;
          // left:98px;
          // top:79px;
          height:210px;
          width:210px;
      }
      100%{
        border:25px solid white;
        background-size: 215px 215px;
        top:0vh;
        left:0vw;
        height:270px;
        width:270px;
      }
    }
  };
}


@mixin movingMagnifyingGlassLaptop {
  @include laptop{
    @keyframes movingMagnifyingGlass{
      0%{
        border:32px solid white;
        height:380px;
        width:380px;
        top:0vh;
        left:0vw;
        background-position: right;
      }
      29%{
        background-size: 0px 0px;
      }
      // 26%{
      //   top:0vh;
      //   left:-14vw;
      //   background-position: right;
      //   background-size: 27px 27px;
      //
      // }
      30%{
        background-position: center;
        border:32px solid white;
        background-size: 27px 27px;
        top:0vh;
        left:0vw;
        height:380px;
        width:380px;
      }
      67%{
        border:17px solid white;
        background-size: 370px 370px;
        top:4vh;
        left:0vw;
        height:250px;
        width:250px;
      }
      100%{
        border:33px solid white;
        background-size: 320px 320px;
        top:0vh;
        left:0vw;
          height:370px;
          width:370px;
      }
    }
  };
}
