@import "./../../../_finder-app__base/_finder-app__base_media-query-mixins";
.definition{
  margin-top: -2px;
  padding: 15px;
  overflow: scroll;
  color:rgba(255,240,170,1);
  height: 100%;
  width: 100%;
  text-align: justify;
  background-color: black;
  @include mobile{
    overflow: auto;
    padding: 15px 10vw;
  };
  @include laptop{
    overflow: auto;
    padding: 35px 20vw;
  };
}
