@import "./../../../../_finder-app__base/_finder-app__base_media-query-mixins";

// it is only a modifier. basic code for the logo is in _finder-app__logo.scss
.intro-logo__words{
  &_first{
    height:60px;
    width:100vw;
    @include tablet{
      height:70px;
    };
  }
  &_second{
    background-position: -70vw 0;
    height:55px;
    width:100vw;
    animation: moveSecondWord 0.8s ease forwards;
    @include tablet{
      height:55px;
    };
  }
  @keyframes moveSecondWord{
      0%{background-position: -120vw 0;}
      65%{background-position: 60vw 0;}
      100%{background-position: 46vw 0;}
  }
}
