@import "./../../../../_finder-app__base/_finder-app__base_media-query-mixins";

.intro-logo__words{
  &_first{
    // margin-top: 10px;
    background-position: center;
    // border: 1px solid white;
    background-image: url("./components/finder-app/__finder-app__logo/images/logoOnlyFirma.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height:60px;
    width:100vw;
    @include tablet{
      height:70px;
    };
    // @include laptop{
    //   margin-top: -8vh;
    //   height:90px;
    // };
  }

  &_second{
    position: relative;
    background-position: -70vw 0;
    // border: 1px solid green;
    background-image:url("./components/finder-app/__finder-app__logo/images/logoOnlyPod.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height:55px;
    width:100vw;
    animation: moveSecondWord 0.8s ease forwards;
    @include tablet{
      height:55px;
    };
    // @include laptop{
    //   height:70px;
    // };
  }
  @keyframes moveSecondWord{
      0%{background-position: -120vw 0;}
      65%{background-position: 60vw 0;}
      100%{background-position: 46vw 0;}
  }
}
