@import "./../_cv-page__base/cv-page__base__variables.scss";
//general styles for the whole document
*{
  font-family: $font__primary;
  color:$color__primary;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: $color__background;

}
