.main__section-name{
  display: flex;
  &__icon{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__text{
    margin: 0 0 0 8px;
    text-transform: capitalize;
  }
}
