.header{
  display: flex;
  justify-content: center;
  align-items: center;
  // border:1px solid red;
  background-color: black;
  min-height: 85px;
  &__logo{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid pink;
    min-height: 85px;
    width: 250px;
    &_hidden{
      display: none;
    }
    &__words{
      display: flex;
      margin-top: -4px;
      align-items: flex-end;
      flex-direction: column;
      width:60px;
      &_first{
        height:40px;
        width:60px;
      }//first-word
      &_second{
        margin-top: -10px;
        // border: 1px solid green;
        height:26px;
        width:31px;
      }
    }//&__words
    &__magnifying-glass-container{
      // border: 1px solid orange;
      .header__logo__magnifying-glass{
        border:8px solid white;
        height:78px;
        width:78px;
        background-size: 70px 70px;
        &__stick{
          background-color: black;
          left:16px;
          height:8px;
          width:18px;
          transform: skew(-35deg,37deg);
        }
      }
    }//&__magnifying-glass-container
  }//header__logo
}//header
