/// COLORS of dates in education-progress-bar
$color__education-progress-bar__dates-green:rgba(30, 160, 30, 1);
$color__education-progress-bar__dates-orange:rgba(230, 153, 43, 1);
$color__education-progress-bar__dates-purple: rgba(174, 68, 182, 1);
$color__education-progress-bar__dates-red:rgba(234, 68, 182, 1);
