@import "./../../../../../_finder-app__base/_finder-app__base__variables.scss";


.form__searched-list__body{
  &__row{
    &_1{
      background-color: rgba(10,10,10,1.0);
    }
    &_2{
      background-color: $color__primary_yellow;
      color:  rgba(10,10,10,1.0);
    }
    &__el{
      font-size: 20px;
      padding: 4px 2px;
      &_title{
        min-width: 100px;
      }
      &_ori-title{
        display: none;
      }
    }
  }
}
