//COLORS

//primary colors
$color__primary:rgba(0, 84, 91, 1);//morski
$color__primary_dark:rgba(76, 172, 168, 1);//ciemny morski

//details colors
//aroow,fonts,shapes etc..
$color__details_grey_light:rgba(245, 245, 245, 1);//lightest grey
$color__details_grey:rgba(190, 190, 190, 1);//grey
$color__details_grey_dark:rgba(162, 162, 162, 1);//dark grey
$color__details_green_lighness-1:rgba(0,56,54,0.8);
$color__details_green_lighness-2:rgba(0,75,75,0.8);
$color__details_green_lighness-3:rgba(0,110,110,0.8);
$color__details_green_lighness-4:rgba(0,135,135,0.8);
$color__details_green_lighness-5:rgba(0,160,160,0.8);
$color__details_green_lighness-6:rgba(0,180,180,0.8);
$color__details_green_lighness-7:rgba(0,210,210,0.8);

//background colors
$color__background: rgba(240,240,240,1);//light grey

//fonts
$font__primary:'Open Sans', sans-serif;
