@import "./../../../_finder-app__base/_finder-app__base_media-query-mixins";
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height:13vh;
  min-height: 80px;
  width: 100vw;
  &__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    @include mobile{
      width: 350px;
    };
    &__words{
      display: flex;
      margin-top: -4px;
      align-items: flex-end;
      flex-direction: column;
      width:60px;
      // border: 1px solid green;
      @include mobile{
        margin-top: 0px;
        align-items: center;
        flex-direction: row;
        width: 150px;
      };
      &_first{
        height:40px;
        width:60px;
        // border: 1px solid orange;
        @include mobile{
          height:75px;
          width:160px;
        };
      }//first-word
      &_second{
        margin-top: -10px;
        // border: 1px solid green;
        height:26px;
        width:31px;
        @include mobile{
          margin: 0 10px;
          height:46px;
          width:81px;
        };
      }
    }//&__words
    &__magnifying-glass-container{
      // border: 1px solid orange;
      .header__logo__magnifying-glass{
        border:8px solid white;
        height:78px;
        width:78px;
        background-size: 70px 70px;
        &__stick{
          background-color: black;
          left:16px;
          height:8px;
          width:18px;
          transform: skew(-35deg,37deg);
        }
      }
    }//&__magnifying-glass-container
  }//header__logo
}//header
