@import "./../../../_finder-app__base/_finder-app__base_media-query-mixins";

.main-content{
  width: 100%;
  height: 100%;
  background-image: url("./components/finder-app/main/main-content/form/form_background.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  &__form-container{
    width: 325px;
    height: 90%;
    background-color: rgba(193,159,19,0.8);
    display: flex;
    justify-content: center;
    flex-direction: column;
    // @include mobile{
    //   width: 60%;
    // };
    // @include laptop{
    //   width: 40%;
    // };
    &__form{
      width: 325px;
      &__label{
        margin-top: 5px;
        color: white;
        font-size: 19px;
        font-weight: bold;
        margin-left: 20px;
      }
      &__input{
        margin: 5px 0 0 20px;
        width: 230px;
        height: 20px;
        border: 0;
        padding-left: 10px;
        &_wider-input{
          width: 290px;
          margin: 5px 0 0 0;
        }
      }
      &__button{
        border: 0;
        background-color: black;
        color: white;
        height: 20px;
        width: 60px;
        font-weight: bold;
      }
    }
  }
}
