@import "./../../../_finder-app__base/_finder-app__base_media-query-mixins";

.main-content{
  width: 100%;
  height: 100%;
  background-image: url("./components/finder-app/main/main-content/form/form_background.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  &__form-container{
    width: 325px;
    height: 95%;
    background-color: rgba(193,159,19,0.8);
    display: flex;
    justify-content: center;
    flex-direction: column;
    // font-size: 19px;
    font-weight: bold;
    &__form{
      width: 325px;
      color: white;

      &__select{
      }
      &__label{
        margin: 5px 0 0 20px;
        color: white;
        font-size: 19px;
        font-weight: bold;
      }
      &__input{
        height: 20px;
        border: 0;
        padding-left: 10px;
        margin: 0 0 0 20px ;
        width: 230px;
          &:focus{
            border: 2px solid rgba(0,0,0,1);
            background-color:  rgba(255,255,255,0.5);
          }
        }
      &__button{
        border: 0;
        background-color: black;
        color: white;
        height: 20px;
        width: 60px;
        font-weight: bold;
      }
    }//form
      &__info{
        overflow: auto;
        height: 20px;
        border: 0;
        padding: 2px 0 0 10px;
        margin: 5px 0 0 20px;
        width: 290px;
        color: black;
        font-size: 14px;
        font-weight: bold;
        background-color:  rgba(255,255,255,0.5);
        &::-webkit-scrollbar {
          // height: 2px;
          width: 15px;
          } /* this targets the default scrollbar (compulsory) */
        &::-webkit-scrollbar-track {
          background-color: rgba(0,0,0,1);
          } /* the new scrollbar will have a flat appearance with the set background color */
        &::-webkit-scrollbar-thumb {
          background-color: rgba(193,159,19,0.8);
          height: 4px
          } /* this will style the thumb, ignoring the track */
        &::-webkit-scrollbar-button {
          background-color: rgba(0,0,0,1);
          height: 20px;
          } /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
        &::-webkit-scrollbar-corner {
          background-color: black;
          }
      }//info
    &__error{
      margin-top: 3px;
      background-color: black;
      color: white;
      width: 100%;
      height: 20px;
      font-size: 15px;
      text-align: center;
      vertical-align: middle;
    }
  }
}
