@import "./../../../../_finder-app__base/_finder-app__base_media-query-mixins";
@import "./form__searched-list__head";
@import "./__form__searched-list__item/form__searched-list__item";

.form__searched-list{
  margin-bottom: 30px;
  background-color: rgba(10,10,10,0.8);
  font-family: 'Saira Extra Condensed', sans-serif;
  @include mobile{
    min-width: 550px;
  };
  &__caption{
    font-size: 44px;
    margin: 10px auto;
  }
}
