@import "./../../../../_finder-app__base/_finder-app__base_media-query-mixins.scss";
@import "./../../../../_finder-app__base/_finder-app__base__variables.scss";

.form__searched-list__head{
 width: 100%;
  &__row{
    height: 60px;
    background-color: $color__primary_yellow;
    &__el{
      font-size: 22px;

      &_title{
        min-width:100px;
        font-size: 27px;
      }
      &_ori-title{
        display: none;
      }
    }
  }
}
