@import "./../../../../../_finder-app__base/_finder-app__base_media-query-mixins";


@mixin movingMagnifyingGlass {
  @keyframes movingMagnifyingGlass{
    0%{
      top:8vh;
      left:18vw;
      background-position: right;
    }
    20%{
      background-size: 0px 0px;
    }
    21%{
      top:0vh;
      left:-14vw;
      background-position: right;
      background-size: 27px 27px;

    }
    45%{
      background-position: center;
      border:23px solid white;
      background-size: 27px 27px;
      top:0vh;
      left:0vw;
      height:220px;
      width:220px;
    }
    73%{
      border:16px solid white;
      background-size: 220px 220px;
      top:4vh;
      left:0vw;
      height:130px;
      width:130px;
    }
    100%{
      border:20px solid white;
      background-size: 180px 180px;
      top:0vh;
      left:0vw;
      height:210px;
      width:210px;

    }
  }
}


@mixin movingMagnifyingGlassTablet {
  @include tablet{
    @keyframes movingMagnifyingGlass{
      0%{
        border:25px solid white;
        height:255px;
        width:255px;
        top:8vh;
        left:18vw;
        background-position: right;
      }
      20%{
        background-size: 0px 0px;
      }
      21%{
        top:0vh;
        left:-14vw;
        background-position: right;
        background-size: 27px 27px;

      }
      45%{
        background-position: center;
        border:25px solid white;
        background-size: 27px 27px;
        top:0vh;
        left:0vw;
        height:255px;
        width:255px;
      }
      73%{
        border:17px solid white;
        background-size: 220px 220px;
        top:4vh;
        left:0vw;
          // left:98px;
          // top:79px;
          height:210px;
          width:210px;
      }
      100%{
        border:25px solid white;
        background-size: 215px 215px;
        top:0vh;
        left:0vw;
        height:270px;
        width:270px;
      }
    }
  };
}
