
.header__picture{
  // border: 1px solid red;
  margin: 10px 0 0 0px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include tablet{
    order:2;
    margin: 0;
    width: 33.33%;
  };
  @include laptop{
    width: 300px;
  };
  .header__picture__content{
    margin: 40px 0;
    border: 6px solid rgba(190,190,190,1);
    border-radius: 50%;
    width:180px;
    height:180px;
    background-color: rgba(10,10,10,0.6);
    background-image: url("./components/cv-page/header/__header__picture/Rick-astley.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: flash ease 0.5s infinite;
    @include tablet{
      width:210px;
      height:210px;
    };
  }
}

@keyframes flash{
  0% {border: 6px solid rgba(190,190,190,1);}
	50% {border: 66px solid rgba(190,190,190,1);}
	100% {border: 6px solid rgba(190,190,190,1);}
}
