.firstLogo-word{
  // margin-top: 10px;
  background-position: center;
  border: 1px solid white;
  background-image: url("./images/logoOnlyFirma.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height:70px;
  width:40vw;
}
