@import "../../../modules/mediaQueryMixins";
@import "./magnifyingGlassStylePartials/_magnifyingGlassStyleKeyframes";

@include movingMagnifyingGlass;
@include movingMagnifyingGlassTablet;
@include movingMagnifyingGlassLaptop;


.magnifyingGlass-CNT{
  // border: 1px solid orange;
  height:30vh;
  width:100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 12vh;
  @include tablet{

  };
  .magnifyingGlass{
    color: white;
    border-radius: 50%;
    border:18px solid white;
    margin: -8px 0 0 13px;
    background-position: center;
    background-image: url("./images/magnifyingGlass.svg");
    background-size: 0px 0px;
    background-repeat: no-repeat;
    height:200px;
    width:200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;;
    position: relative;
    top:40vh;
    left:78vw;
    @include tablet{
    };
    animation: movingMagnifyingGlass 1.8s 1.2s ease-out forwards;
    .magnifyingGlass-stick{
      background-color: white;
      left:36px;
      // top:79px;
      height:15px;
      width:46px;
      transform: skew(-40deg,43deg);
      position: relative;
      // animation: shrinkingMagnifyingGlass 1.8s 1.2s ease-out forwards;
      @include tablet{
        left:40px;
        // top:79px;
        height:16px;
        width:54px;
      };
      @include laptop{
        left:45px;
        // top:79px;
        height:19px;
        width:65px;
      };

    }
  }
}
