.secondLogo-CNT{
  .secondLogo-word{
    position: relative;
    background-position: center;
    left:-70vw;
    border: 1px solid green;
    background-image: url("./images/logoOnlyPod.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height:70px;
    width:40vw;
    animation: moveSecondWord 1s 0.6s ease forwards;
  }
  @keyframes moveSecondWord{
      0%{left:-70vw;}
      65%{left:10vw;}
      100%{left:0vw;}
  }
}
