@import "../../../modules/mediaQueryMixins";


.secondLogo-CNT{
  .secondLogo-word{
    position: relative;
    background-position: center;
    left:-70vw;
    // border: 1px solid green;
    background-image: url("./images/logoOnlyPod.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height:55px;
    width:100vw;
    animation: moveSecondWord 0.8s 0.5s ease forwards;
    @include tablet{
      height:60px;
    };
    @include laptop{
      height:70px;
    };
  }
  @keyframes moveSecondWord{
      0%{left:-70vw;}
      65%{left:10vw;}
      100%{left:0vw;}
  }
}
