@import "../../../modules/mediaQueryMixins";

//

.firstLogo-word{
  // margin-top: 10px;
  background-position: center;
  // border: 1px solid white;
  background-image: url("./images/logoOnlyFirma.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height:60px;
  width:100vw;
  @include tablet{
    height:75px;
  };
  @include laptop{
    margin-top: -8vh;
    height:90px;
  };
}
