// @import "./../../../library/media-query-mixins.scss";

.header__name{
  // border: 1px solid blue;
  margin: 0;
  order:1;
  width:100%;
  @include tablet{
    width: 33.33%;
  };
  @include laptop{
    width: 300px;
    // margin-left: auto;
  };
  &__full-name{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    width:auto;
    height:auto;
    @include tablet{
      margin: 40px 0 0 10px;
      font-size: 42px;
      text-align: left;
    };
  }
  &__profession{
    text-align: center;
    margin: 8px 0 0 0;
    font-size: 16px;
    text-transform: capitalize;
    width:auto;
    height:auto;
    @include tablet{
      margin: 38px 0 0 10px;
      font-size: 27px;
      text-align: left;
    };
  }
}
