//media query
@import "./../../../../_cv-page__base/media-query-mixins.scss";

.interests__section-name{
  margin: 0 0 30px 10px;
  background-color: rgba(10,10,10,0);
  @include tablet{
    margin: 0 0 60px 140px;
  };
    &__icon_interests{
      margin: 8px 0 0 0;
      height: 22px;
      width: 22px;
      @include tablet{
        margin: 4px 0 0 6px;
        height: 33px;
        width: 33px;
      };
      background-image: url("./components/cv-page/main/interests/_interests_modifiers/_interests__section-name/interests__section-name__icon_interests.svg");
    }
    &__text_interests{
     font-size: 26px;
     @include tablet{
       font-size: 29px;
       font-weight: bold;
     };
    }

}
