@import "./main-content/main-content";
@import "./main__nav-bottom/_main__nav-bottom";
@import "./../_finder-app__base/_finder-app__base_media-query-mixins";

.main{
  min-height:80%;
  font-family: 'Saira Extra Condensed', sans-serif;
  display: flex;
  flex-direction: column;
}
