.experience__section-name{
  margin: 5px 0 70px 7px;
  background-color: rgba(10,10,10,0);
    &__icon_experience{
      margin: 8px 0 0 0;
      height: 22px;
      width: 22px;
      @include tablet{
        margin: 8px 0 0 6px;
        height: 25px;
        width: 25px;
      };
      background-image: url("./components/cv-page/main/experience/_experience_modifiers/_experience__section-name/experience__section-name__icon_experience.svg");
    }
    &__text_experience{
     font-size: 26px;
     @include tablet{
       font-size: 29px;
     };
    }
}
