//media query
@import "./../../../../_cv-page__base/media-query-mixins.scss";

.education__section-name{
  margin-top: 0;
  width:100%;
  // @include tablet{
  //   margin: 0 auto;
  // };
  @include laptop{
    width:900px;
    margin: 0;
  };
    &__icon_education{
      margin: 8px 0 0 8px;
      height: 22px;
      width: 22px;
      background-image: url("./components/cv-page/main/education/_education_modifiers/_education__section-name/education__section-name__icon_education.svg");
      @include tablet{
        margin: 6px 0 0 6px;
        height: 25px;
        width: 25px;
      };
    }
    &__text_education{
     font-size: 26px;
     @include tablet{
       font-size: 29px;
     };
    }
}
