@import "./__header__contact-info/header__contact-info.scss" ;
@import "./__header__name/header__name.scss" ;
@import "./__header__picture/header__picture.scss" ;

.header{
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(140,140,140,1);
}
