//includes styles for cv header block
@import "./header/header.scss" ;
//includes styles for cv main part block and section-name styles which appears in each inner block
@import "./main/main.scss" ;
//includes variables used in the whole project
@import "./_cv-page_styles/cv-page_styles.scss" ;

.page{
  @include laptop{
    width: 900px;
    margin: 0 auto;
    // border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
  }
}
