.definition-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .definition-container .definition {
    margin-top: 30px;
    overflow: scroll;
    color: #fff0aa;
    height: 100%;
    width: 90vw;
    text-align: justify;
    background-color: black;
    display: flex;
    flex-direction: column; }
    @media (min-width: 600px) {
      .definition-container .definition {
        width: 60vw;
        overflow: auto; } }
    @media (min-width: 1200px) {
      .definition-container .definition {
        width: 50vw; } }

@keyframes movingMagnifyingGlass {
  0% {
    top: 20px;
    left: 55px;
    background-position: right; }
  20% {
    background-size: 0px 0px; }
  21% {
    top: 0vh;
    left: -45px;
    background-position: right;
    background-size: 27px 27px; }
  45% {
    background-position: center;
    border: 23px solid white;
    background-size: 27px 27px;
    top: 0;
    left: 0;
    height: 220px;
    width: 220px; }
  73% {
    border: 16px solid white;
    background-size: 220px 220px;
    top: 20px;
    left: 0vw;
    height: 130px;
    width: 130px; }
  100% {
    border: 20px solid white;
    background-size: 180px 180px;
    top: 0vh;
    left: 0vw;
    height: 210px;
    width: 210px; } }

.intro-logo__magnifying-glass-container {
  height: 30vh;
  width: 100%;
  margin-bottom: 12vh; }
  .intro-logo__magnifying-glass-container .intro-logo__magnifying-glass {
    color: white;
    border: 23px solid white;
    margin: -4px 0 0 13px;
    background-size: 0px 0px;
    height: 220px;
    width: 220px;
    top: 20px;
    left: 55px;
    animation: movingMagnifyingGlass 1.4s 1.0s ease-out forwards; }
    .intro-logo__magnifying-glass-container .intro-logo__magnifying-glass__stick {
      left: 51px;
      height: 18px;
      width: 50px;
      transform: skew(-35deg, 37deg); }

.intro-logo__words_first {
  height: 60px;
  width: 100vw; }
  @media (min-width: 768px) {
    .intro-logo__words_first {
      height: 70px; } }

.intro-logo__words_second {
  background-position: -70vw 0;
  height: 55px;
  width: 100vw;
  animation: moveSecondWord 0.8s ease forwards; }
  @media (min-width: 768px) {
    .intro-logo__words_second {
      height: 55px; } }

@keyframes moveSecondWord {
  0% {
    background-position: -120vw 0; }
  65% {
    background-position: 60vw 0; }
  100% {
    background-position: 46vw 0; } }

.intro-logo {
  background-color: black;
  height: 100%;
  margin: -2px 0; }

.form__searched-list__head {
  width: 100%; }
  .form__searched-list__head__row {
    height: 60px;
    background-color: #c19f13; }
    .form__searched-list__head__row__el {
      font-size: 22px; }
      .form__searched-list__head__row__el_title {
        min-width: 100px;
        font-size: 27px; }
      .form__searched-list__head__row__el_ori-title {
        display: none; }

.form__searched-list__body__row_1 {
  background-color: #0a0a0a; }

.form__searched-list__body__row_2 {
  background-color: #c19f13;
  color: #0a0a0a; }

.form__searched-list__body__row__el {
  font-size: 20px;
  padding: 4px 2px; }
  .form__searched-list__body__row__el_title {
    min-width: 100px; }
  .form__searched-list__body__row__el_ori-title {
    display: none; }

.form__searched-list {
  margin-bottom: 30px;
  background-color: rgba(10, 10, 10, 0.8);
  font-family: 'Saira Extra Condensed', sans-serif; }
  @media (min-width: 600px) {
    .form__searched-list {
      min-width: 550px; } }
  .form__searched-list__caption {
    font-size: 44px;
    margin: 10px auto; }

.form {
  width: 100%;
  min-height: 350px;
  height: 100%;
  background-image: url("./components/finder-app/main/main-content/form/_form_images_background.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; }
  .form__form-container {
    width: 95%;
    min-height: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold; }
    .form__form-container__text {
      font-size: 44px;
      margin: 10px 0; }
    .form__form-container__form {
      width: 345px;
      color: white;
      min-height: 100px;
      display: flex;
      justify-content: center;
      background-color: rgba(10, 10, 10, 0.8);
      flex-wrap: wrap;
      align-items: center; }
      @media (min-width: 600px) {
        .form__form-container__form {
          width: 550px; } }
      .form__form-container__form__label-select {
        width: 33%;
        text-align: center;
        font-size: 20px; }
      .form__form-container__form__select {
        display: flex;
        justify-content: center;
        margin: 8px 12px 8px auto;
        width: 62%;
        height: 30px; }
        .form__form-container__form__select__text {
          padding-top: 15px;
          line-height: 0;
          font-size: 23px; }
        .form__form-container__form__select__input {
          margin: 10px;
          width: 20px; }
      .form__form-container__form__option-text {
        width: 33%;
        text-align: center;
        font-size: 20px; }
      .form__form-container__form__option {
        margin: 8px 12px 8px auto;
        width: 62%;
        height: 30px;
        border: 0;
        background-color: #c19f13;
        color: white;
        font-size: 18px; }
        .form__form-container__form__option__item {
          display: flex;
          justify-content: center;
          color: black;
          border: 0;
          font-size: 18px; }
      .form__form-container__form__text-type {
        width: 33%;
        text-align: center;
        font-size: 20px; }
      .form__form-container__form__text-input {
        height: 30px;
        border: 0;
        margin: 8px 12px 8px auto;
        padding-left: 10px;
        width: 62%;
        font-size: 18px;
        color: white;
        background-color: #c19f13; }
        .form__form-container__form__text-input:focus {
          color: black;
          border: 2px solid black;
          background-color: white; }
      .form__form-container__form__button {
        border: 0;
        background-color: black;
        color: white;
        height: 50px;
        width: 200px;
        font-weight: bold;
        font-size: 28px;
        margin: 20px auto; }
    .form__form-container__error {
      margin-top: 3px;
      background-color: red;
      color: white;
      width: 63%;
      font-size: 19px;
      text-align: center;
      vertical-align: middle; }
      @media (min-width: 600px) {
        .form__form-container__error {
          width: 550px; } }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 13vh;
  min-height: 80px;
  width: 100vw; }
  .header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px; }
    @media (min-width: 600px) {
      .header__logo {
        width: 350px; } }
    .header__logo__words {
      display: flex;
      margin-top: -4px;
      align-items: flex-end;
      flex-direction: column;
      width: 60px; }
      @media (min-width: 600px) {
        .header__logo__words {
          margin-top: 0px;
          align-items: center;
          flex-direction: row;
          width: 150px; } }
      .header__logo__words_first {
        height: 40px;
        width: 60px; }
        @media (min-width: 600px) {
          .header__logo__words_first {
            height: 75px;
            width: 160px; } }
      .header__logo__words_second {
        margin-top: -10px;
        height: 26px;
        width: 31px; }
        @media (min-width: 600px) {
          .header__logo__words_second {
            margin: 0 10px;
            height: 46px;
            width: 81px; } }
    .header__logo__magnifying-glass-container .header__logo__magnifying-glass {
      border: 8px solid white;
      height: 78px;
      width: 78px;
      background-size: 70px 70px; }
      .header__logo__magnifying-glass-container .header__logo__magnifying-glass__stick {
        background-color: black;
        left: 16px;
        height: 8px;
        width: 18px;
        transform: skew(-35deg, 37deg); }

.main-content {
  order: 1;
  height: 100%;
  min-height: 76vh;
  width: 100%;
  display: flex;
  flex-direction: column; }

.main__nav-bottom {
  order: 3;
  display: flex;
  justify-content: center;
  align-items: center; }
  .main__nav-bottom .main__nav-bottom__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    min-height: 75px;
    width: 100%;
    background-color: black;
    text-decoration: none;
    font-family: 'Saira Extra Condensed', sans-serif;
    padding-top: 30px; }
    @media (min-width: 600px) {
      .main__nav-bottom .main__nav-bottom__container {
        width: 600px; } }
    @media (min-width: 1200px) {
      .main__nav-bottom .main__nav-bottom__container {
        width: 800px;
        padding-top: 30px; } }
    .main__nav-bottom .main__nav-bottom__container .main__nav-bottom__el {
      justify-content: center;
      text-align: center;
      font-size: 20px;
      width: 23vw;
      height: 100%;
      color: #fafafa; }
      @media (min-width: 600px) {
        .main__nav-bottom .main__nav-bottom__container .main__nav-bottom__el {
          width: 150px;
          font-size: 22px; } }
      @media (min-width: 1200px) {
        .main__nav-bottom .main__nav-bottom__container .main__nav-bottom__el {
          width: 200px; } }
    .main__nav-bottom .main__nav-bottom__container .main__nav-bottom__el_active {
      background-color: #c19f13; }

.main {
  min-height: 80vh;
  font-family: 'Saira Extra Condensed', sans-serif;
  display: flex;
  flex-direction: column; }

.footer {
  height: 6vh;
  min-height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white; }

.logo__words_first {
  background-position: center;
  background-image: url("./components/finder-app/__finder-app__logo/im/logoOnlyFirma.svg");
  background-size: contain;
  background-repeat: no-repeat; }

.logo__words_second {
  position: relative;
  background-position: center;
  background-image: url("./components/finder-app/__finder-app__logo/im/logoOnlyPod.svg");
  background-size: contain;
  background-repeat: no-repeat; }

.logo__magnifying-glass-container {
  display: flex;
  align-items: flex-start;
  justify-content: center; }
  .logo__magnifying-glass-container .logo__magnifying-glass {
    border-radius: 50%;
    background-position: center;
    background-image: url("./components/finder-app/__finder-app__logo/im/magnifyingGlass.svg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative; }
    .logo__magnifying-glass-container .logo__magnifying-glass__stick {
      background-color: white;
      position: relative; }

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

.finder-app {
  background-color: black;
  min-height: 100vh; }
