.container {
  background-color: #646464; }

.navCNT {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: #080808; }

.mainSectionCNT {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  background-color: #080808; }
  .mainSectionCNT .logo-CNT {
    border: 1px solid pink;
    height: 75vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center; }
    .mainSectionCNT .logo-CNT .logoWords-CNT {
      border: 1px solid blue;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 48vw; }
      .mainSectionCNT .logo-CNT .logoWords-CNT .firstLogo-word {
        background-position: center;
        border: 1px solid white;
        background-image: url("./images/logoOnlyFirma.svg");
        background-size: contain;
        background-repeat: no-repeat;
        height: 22vh;
        width: 20vw; }
      .mainSectionCNT .logo-CNT .logoWords-CNT .secondLogo-word {
        background-position: center;
        border: 1px solid green;
        background-image: url("./images/logoOnlyPod.svg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 18vh;
        width: 14vw; }
    .mainSectionCNT .logo-CNT .magnifyingGlass-CNT {
      border: 1px solid orange;
      height: 75vh;
      width: 49vw;
      display: flex;
      align-items: center;
      animation: movingGlass 3s ease; }
      .mainSectionCNT .logo-CNT .magnifyingGlass-CNT .magnifyingGlass {
        background-position: center;
        border: 1px solid red;
        background-image: url("./images/magnifyingGlass.svg");
        background-size: contain;
        background-repeat: no-repeat;
        height: 75vh;
        width: 43vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        animation: shrinkingGlass 5s ease; }
        .mainSectionCNT .logo-CNT .magnifyingGlass-CNT .magnifyingGlass .magnifyingGlass-text {
          background-position: center;
          background-image: url("./images/logoCurvedText.svg");
          background-size: contain;
          background-repeat: no-repeat;
          border: 1px solid yellow;
          height: 0.1vh;
          width: 0.1vw; }

@keyframes movingGlass {
  0% {
    justify-content: flex-end; }
  100% {
    justify-content: flex-start; } }

@keyframes shrinkingGlass {}.footerCNT {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  background-color: #c8c8c8; }

.container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto; }
  .container [class*="col-"] {
    min-height: 1px;
    width: 100%;
    height: 100%; }
  .container .col-1 {
    width: 8.33333%;
    min-height: 1px; }
  .container .col-2 {
    width: 16.66667%;
    min-height: 1px; }
  .container .col-3 {
    width: 25%;
    min-height: 1px; }
  .container .col-4 {
    width: 33.33333%;
    min-height: 1px; }
  .container .col-5 {
    width: 41.66667%;
    min-height: 1px; }
  .container .col-6 {
    width: 50%;
    min-height: 1px; }
  .container .col-7 {
    width: 58.33333%;
    min-height: 1px; }
  .container .col-8 {
    width: 66.66667%;
    min-height: 1px; }
  .container .col-9 {
    width: 75%;
    min-height: 1px; }
  .container .col-10 {
    width: 83.33333%;
    min-height: 1px; }
  .container .col-11 {
    width: 91.66667%;
    min-height: 1px; }
  .container .col-12 {
    width: 100%;
    min-height: 1px; }
  .container .row {
    display: flex;
    flex-wrap: wrap; }

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }
