.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  min-height: 85px; }
  .header__logo {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85px;
    width: 250px; }
    .header__logo_hidden {
      display: none; }
    .header__logo__words {
      display: flex;
      margin-top: -4px;
      align-items: flex-end;
      flex-direction: column;
      width: 60px; }
      .header__logo__words_first {
        height: 40px;
        width: 60px; }
      .header__logo__words_second {
        margin-top: -10px;
        height: 26px;
        width: 31px; }
    .header__logo__magnifying-glass-container .header__logo__magnifying-glass {
      border: 8px solid white;
      height: 78px;
      width: 78px;
      background-size: 70px 70px; }
      .header__logo__magnifying-glass-container .header__logo__magnifying-glass__stick {
        background-color: black;
        left: 16px;
        height: 8px;
        width: 18px;
        transform: skew(-35deg, 37deg); }

@keyframes movingMagnifyingGlass {
  0% {
    top: 8vh;
    left: 18vw;
    background-position: right; }
  20% {
    background-size: 0px 0px; }
  21% {
    top: 0vh;
    left: -14vw;
    background-position: right;
    background-size: 27px 27px; }
  45% {
    background-position: center;
    border: 23px solid white;
    background-size: 27px 27px;
    top: 0vh;
    left: 0vw;
    height: 220px;
    width: 220px; }
  73% {
    border: 16px solid white;
    background-size: 220px 220px;
    top: 4vh;
    left: 0vw;
    height: 130px;
    width: 130px; }
  100% {
    border: 20px solid white;
    background-size: 180px 180px;
    top: 0vh;
    left: 0vw;
    height: 210px;
    width: 210px; } }

@media (min-width: 768px) {
  @keyframes movingMagnifyingGlass {
    0% {
      border: 25px solid white;
      height: 265px;
      width: 265px;
      top: 8vh;
      left: 18vw;
      background-position: right; }
    20% {
      background-size: 0px 0px; }
    21% {
      top: 0vh;
      left: -14vw;
      background-position: right;
      background-size: 27px 27px; }
    45% {
      background-position: center;
      border: 25px solid white;
      background-size: 27px 27px;
      top: 0vh;
      left: 0vw;
      height: 265px;
      width: 265px; }
    73% {
      border: 17px solid white;
      background-size: 220px 220px;
      top: 4vh;
      left: 0vw;
      height: 210px;
      width: 210px; }
    100% {
      border: 25px solid white;
      background-size: 215px 215px;
      top: 0vh;
      left: 0vw;
      height: 270px;
      width: 270px; } } }

@media (min-width: 1200px) {
  @keyframes movingMagnifyingGlass {
    0% {
      border: 32px solid white;
      height: 380px;
      width: 380px;
      top: 0vh;
      left: 0vw;
      background-position: right; }
    29% {
      background-size: 0px 0px; }
    30% {
      background-position: center;
      border: 32px solid white;
      background-size: 27px 27px;
      top: 0vh;
      left: 0vw;
      height: 380px;
      width: 380px; }
    67% {
      border: 17px solid white;
      background-size: 370px 370px;
      top: 4vh;
      left: 0vw;
      height: 250px;
      width: 250px; }
    100% {
      border: 33px solid white;
      background-size: 320px 320px;
      top: 0vh;
      left: 0vw;
      height: 370px;
      width: 370px; } } }

.intro-logo__magnifying-glass-container {
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 12vh; }
  .intro-logo__magnifying-glass-container .intro-logo__magnifying-glass {
    color: white;
    border-radius: 50%;
    border: 23px solid white;
    margin: -4px 0 0 13px;
    background-position: center;
    background-image: url("./components/finder-app/__finder-app__logo/images/magnifyingGlass.svg");
    background-size: 0px 0px;
    background-repeat: no-repeat;
    height: 220px;
    width: 220px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    top: 8vh;
    left: 18vw;
    animation: movingMagnifyingGlass 1.4s 1.0s ease-out forwards; }
    @media (min-width: 768px) {
      .intro-logo__magnifying-glass-container .intro-logo__magnifying-glass {
        border: 25px solid white;
        height: 265px;
        width: 265px;
        top: 8vh;
        left: 18vw; } }
    @media (min-width: 1200px) {
      .intro-logo__magnifying-glass-container .intro-logo__magnifying-glass {
        border: 32px solid white;
        height: 380px;
        width: 380px;
        top: 0vh;
        left: 0vw; } }
    .intro-logo__magnifying-glass-container .intro-logo__magnifying-glass__stick {
      background-color: white;
      left: 51px;
      height: 18px;
      width: 50px;
      transform: skew(-35deg, 37deg);
      position: relative; }
      @media (min-width: 768px) {
        .intro-logo__magnifying-glass-container .intro-logo__magnifying-glass__stick {
          left: 55px;
          height: 21px;
          width: 62px; } }
      @media (min-width: 1200px) {
        .intro-logo__magnifying-glass-container .intro-logo__magnifying-glass__stick {
          left: 58px;
          transform: skew(-40deg, 41deg);
          height: 30px;
          width: 80px; } }

.intro-logo__words_first {
  background-position: center;
  background-image: url("./components/finder-app/__finder-app__logo/images/logoOnlyFirma.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  width: 100vw; }
  @media (min-width: 768px) {
    .intro-logo__words_first {
      height: 75px; } }
  @media (min-width: 1200px) {
    .intro-logo__words_first {
      margin-top: -8vh;
      height: 90px; } }

.intro-logo__words_second {
  position: relative;
  background-position: -70vw 0;
  background-image: url("./components/finder-app/__finder-app__logo/images/logoOnlyPod.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 55px;
  width: 100vw;
  animation: moveSecondWord 0.8s 0.5s ease forwards; }
  @media (min-width: 768px) {
    .intro-logo__words_second {
      height: 60px; } }
  @media (min-width: 1200px) {
    .intro-logo__words_second {
      height: 70px; } }

@keyframes moveSecondWord {
  0% {
    background-position: -120vw 0; }
  65% {
    background-position: 60vw 0; }
  100% {
    background-position: 46vw 0; } }

.footerCNT {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  background-color: black;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Saira Extra Condensed', sans-serif; }
  .footerCNT .allfooterBTNs {
    margin-left: 5px;
    padding-left: 5px;
    justify-content: center;
    text-align: center;
    width: 23vw;
    color: #fafafa;
    background-color: #131313; }
  .footerCNT .footerBTNfirst {
    background-color: #c19f13; }

.logo__words_first {
  background-position: center;
  background-image: url("./components/finder-app/__finder-app__logo/images/logoOnlyFirma.svg");
  background-size: contain;
  background-repeat: no-repeat; }

.logo__words_second {
  position: relative;
  background-position: center;
  background-image: url("./components/finder-app/__finder-app__logo/images/logoOnlyPod.svg");
  background-size: contain;
  background-repeat: no-repeat; }

.logo__magnifying-glass-container {
  display: flex;
  align-items: flex-start;
  justify-content: center; }
  .logo__magnifying-glass-container .logo__magnifying-glass {
    border-radius: 50%;
    background-position: center;
    background-image: url("./components/finder-app/__finder-app__logo/images/magnifyingGlass.svg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative; }
    .logo__magnifying-glass-container .logo__magnifying-glass__stick {
      background-color: white;
      position: relative; }

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

.finder-app {
  background-color: #646464; }
