//partial where the general style for the whole document is described
// @import "./scss/partials/mainContainerStyle";
//Three main style partials sections of the document
@import "./header/header";
@import "./main/main";
@import "./footer/footer";

@import "./__finder-app__logo/finder-app__logo";
//grid
// @import "./scss/grid/grid";
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.finder-app{
  background-color: rgba(100,100,100,1)
}
