//partial where the general style for the whole document is described
// @import "./scss/partials/mainContainerStyle";
//Three main style partials sections of the document
@import "./main/main";
@import "./footer/footer";

@import "./__finder-app__logo/finder-app__logo";

@import "./_finder-app__base/_finder-app__base__variables";

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}

.finder-app{
  background-color: black;
  min-height: 100vh;
}
