.footer{
  height: 10vh;
  min-height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  // border: 1px solid red;
  &__copyrights{
  }
}
