.footer{
  height: 5vh;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  // border: 1px solid red;
  &__copyrights{
    // font-weight: bold;
  }
}
