@import "./../_finder-app__base/_finder-app__base_media-query-mixins";

.logo{
  &__words{
    &_first{
      background-position: center;
      background-image: url("./components/finder-app/__finder-app__logo/images/logoOnlyFirma.svg");
      background-size: contain;
      background-repeat: no-repeat;
      // height:60px;
      // width:100vw;
    }//first-word
    &_second{
      position: relative;
      background-position: center;
      // left:-70vw;
      // border: 1px solid green;
      background-image:url("./components/finder-app/__finder-app__logo/images/logoOnlyPod.svg");
      background-size: contain;
      background-repeat: no-repeat;
      // height:55px;
      // width:100vw;
    }
   }
    &__magnifying-glass-container{
      // border: 1px solid orange;
      // height:30vh;
      // width:100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      // margin-bottom: 12vh;
      .logo__magnifying-glass{
        // color: white;
        border-radius: 50%;
        // border:23px solid white;
        // margin: -4px 0 0 13px;
        background-position: center;
        background-image:url("./components/finder-app/__finder-app__logo/images/magnifyingGlass.svg");
        // background-size: 0px 0px;
        background-repeat: no-repeat;
        // height:220px;
        // width:220px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;;
        position: relative;
        // top:8vh;
        // left:18vw;
        &__stick{
          background-color: white;
          // left:51px;
          // height:18px;
          // width:50px;
          // transform: skew(-35deg,37deg);
          position: relative;
        }
      }
    } //magnifyingGlass-container

}
