@import "./../_finder-app__base/_finder-app__base_media-query-mixins";

.logo{
  &__words{
    &_first{
      background-position: center;
      background-image: url("./components/finder-app/__finder-app__logo/im/logoOnlyFirma.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }//first-word
    &_second{
      position: relative;
      background-position: center;
      background-image:url("./components/finder-app/__finder-app__logo/im/logoOnlyPod.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
   }
    &__magnifying-glass-container{
      display: flex;
      align-items: flex-start;
      justify-content: center;
      .logo__magnifying-glass{
        border-radius: 50%;
        background-position: center;
        background-image:url("./components/finder-app/__finder-app__logo/im/magnifyingGlass.svg");
        background-repeat: no-repeat;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;;
        position: relative;
        &__stick{
          background-color: white;
          position: relative;
        }
      }
    } //magnifyingGlass-container

}
