.container{
  width: 100%;
  height: 100%;
  margin: 0 auto;

  [class*="col-"]{
    min-height: 1px;
    width: 100%;
    height: 100%;
  }//end of class selector
  @for $i from 1 to 13{
    .col-#{$i} {
    width: (100%/12)*$i;
    min-height: 1px;
    }
  }//end of for loop
    .row{
      display:flex;
      flex-wrap:wrap;
    }//end of a row
}//end of the container
